.footer {
    background-color: $color-dark;
    padding-top: $gap*3;

    a {
        color: darken($color-light, 50%);

        &:hover {
            color: $color-light;
        }
    }

    &-bottom {
        padding-top: $gap;
        padding-bottom: $gap;
        text-align: center;
        font-family: $font-main;
        font-weight: bold;

        a {
            color: $color-light;
        }
    }
}