.film {
    &-info {
        font-size: 1.2em;
    
        .badge {
            font-size: 0.8em;
        }
    
        &-video {
            border: 1px solid $color-gray;
            border-radius: 4px 4px 0 0;
        }
    
        &-rate {
            padding: 19px;
            margin-bottom: 20px;
            min-height: 20px;
            border: 1px solid $color-gray;
            border-radius: 0 0 4px 4px;
            border-top: 0;
            background-color: lighten($color-gray, 7%);
    
            &__wrapper {
                &:not(:last-child) {
                    margin-right: $gap;
                }
            }
        }
    }


    &-reviews {
        &-head {
            color: $color-light;
            background-color: $color-accent;
            border: none;
            font-size: 1.2rem;
            letter-spacing: 0.1em;
            margin-bottom: 0;
            border-radius: 4px 4px 0 0;
            padding: 10px 15px 10px 15px;
        }

        &-comment {
            &:first-of-type {
                margin-bottom: $gap * 2;
            }
        }

        &-body {
            border-radius: 0 0 4px 4px;
            background-color: darken($color-light, 8%);
            padding: 15px;
        }
    }
    &-comment-form {
        &__btn {
            float: right;
        }
    
        &__textarea {
            margin-bottom: $gap;
        }
    }
}




